# irond main configuration file
# =============================

irond.auth.basic.users.file=/etc/ifmap-server/basicauthusers.properties
irond.ifmap.publishers.file=/etc/ifmap-server/publisher.properties
irond.ifmap.authorization.file=/etc/ifmap-server/authorization.properties
irond.auth.cert.keystore.file=/etc/ifmap-server/keystore/irond.jks
irond.auth.cert.keystore.pass=mapserver
irond.auth.cert.truststore.file=/etc/ifmap-server/keystore/irond.jks
irond.auth.cert.truststore.pass=mapserver
irond.comm.basicauth.port=8443
irond.comm.certauth.port=8444
irond.comm.rawlog=false
irond.ifmap.casesensitive.administrativedomain=true
irond.ifmap.casesensitive.aikName=true
irond.ifmap.casesensitive.distinguishedName=true
irond.ifmap.casesensitive.dnsName=true
irond.ifmap.casesensitive.emailAddress=true
irond.ifmap.casesensitive.hipHit=true
irond.ifmap.casesensitive.kerberosPrincipal=true
irond.ifmap.casesensitive.other=true
irond.ifmap.casesensitive.sipUri=true
irond.ifmap.casesensitive.telUri=true
irond.ifmap.casesensitive.trustedPlatformModule=true
irond.ifmap.casesensitive.userName=true
irond.ifmap.default.maxpollresultsize=5000000
irond.ifmap.default.searchresultsize=100000
irond.ifmap.restrict.purgepublisher=true
irond.ifmap.default.sanitychecks=false
irond.xml.validate=true
irond.xml.schema.0=/etc/ifmap-server/schema/soap12.xsd
irond.proc.action.forwarders=1
irond.proc.action.workers=1
irond.proc.event.forwarders=2
irond.proc.event.workers=4
irond.ifmap.default.maxperpollresultsize=8192
irond.ifmap.default.splitinitialsearchresult=true
irond.ifmap.default.droponresultstoobig=false
