
[DEFAULTS]
ifmap_server_ip={{ host_contrail_address }}
ifmap_server_port=8443
ifmap_username=svc-monitor
ifmap_password=svc-monitor
api_server_ip={{ contrail_vip }}
api_server_port=8082
api_server_use_ssl=False
zk_server_ip={% set comma = joiner(",") %}{% for host in zookeeper_list %}{{ comma() }}{{ host }}:2181{% endfor %}

log_file=/var/log/contrail/contrail-svc-monitor.log
cassandra_server_list={% set comma = joiner(" ") %}{% for host in cassandra_list %}{{ comma() }}{{ host }}:9160{% endfor %}

disc_server_ip={{ contrail_vip }}
disc_server_port=5998
region_name=None
log_local=1
log_level=SYS_NOTICE
rabbit_server={% set comma = joiner(",") %}{% for host in rabbitmq_list %}{{ comma() }}{{ host }}:5672{% endfor %}


[SECURITY]
use_certs=False
keyfile=/etc/contrail/ssl/private_keys/svc_monitor_key.pem
certfile=/etc/contrail/ssl/certs/svc_monitor.pem
ca_certs=/etc/contrail/ssl/certs/ca.pem

[SCHEDULER]
analytics_server_ip={{ contrail_vip }}
analytics_server_port=8081

