[DEFAULTS]
ifmap_server_ip =127.0.0.1
ifmap_server_port = 8443
ifmap_username = api-server
ifmap_password = api-server
cassandra_server_list={% set comma = joiner(" ") %}{% for host in cassandra_servers %}{{ comma() }}{{ host }}:{{cassandra_server_port}}{% endfor %} 
listen_ip_addr=0.0.0.0
listen_port=18082
log_file=/var/log/contrail/contrail-api.log
log_local=1
log_level=SYS_NOTICE

disc_server_ip={{ discovery_service_ip }} 
disc_server_port={{ discovery_service_port }}
zk_server_ip={% set comma = joiner(",") %}{% for host in zookeeper_servers %}{{ comma() }}{{ host }}:{{ zookeeper_server_port }}{% endfor %} 
rabbit_server={{rabbitmq_username}}:{{rabbitmq_password}}@{{ rabbitmq_server_ip }}:{{ rabbitmq_server_port }}
